{% extends 'base.html' %}
{% block title %}
Добавление товара
{% endblock %}

{% block content %}

<!--<body style="background-color: #1c1c1c;-->
<!--             color: #fff;-->
<!--             font-family: Arial, sans-serif;">-->
<!--<div class="container">-->
<!--    <h1>Cotolog</h1>-->
<!--    <form action="post">-->
<!--        <input type="text" class="form-control" name="title" id="title">-->
<!--        <input type="number" class="form-control" name="price" id="price">-->
<!--        <button class="btn btn-success" type="submit">Добавить товар</button>-->
<!--    </form>-->

<!--    <div class="services-card col-12 col-md-6 col-xl-3">-->
<!--    <a href="/services/dermatologiya/" class="with-backgr d-flex flex-column backgr-grey" style="background-image: url('/static/img/example/cat.jpg');">-->
<!--        <h2>Дерматология</h2>-->
<!--        <div class="card-sub-text align-self-start">2 услуги</div>-->
<!--    </a>-->
<!--</div>-->

<!--<div class="services-card col-12 col-md-6 col-xl-3">-->
<!--    <a href="/services/infektsionnoe-otdelenie/" class="with-backgr d-flex flex-column" style="background-image: url('/static/img/example/dog.jpg');">-->
<!--        <h2>Инфекционное отделение</h2>-->
<!--        <div class="card-sub-text align-self-start">4 услуги</div>-->
<!--    </a>-->
<!--</div>-->

<!--<div class="services-card col-12 col-md-6 col-xl-3">-->
<!--    <a href="/services/ortopediya/" class="with-backgr d-flex flex-column" style="background-image: url('/static/img/example/ham.jpg');">-->
<!--        <h2>Ортопедия</h2>-->
<!--        <div class="card-sub-text align-self-start">52 услуги</div>-->
<!--    </a>-->
<!--</div>-->

<!--<div class="services-card col-12 col-md-6 col-xl-3">-->
<!--    <a href="/services/pulmonologiya/" class="with-backgr d-flex flex-column" style="background-image: url('/static/img/example/mouse.jpg');">-->
<!--        <h2>Пульмонология</h2>-->
<!--        <div class="card-sub-text align-self-start">3 услуги</div>-->
<!--    </a>-->
<!--</div>-->
<!--</div>-->


<div class="container">
    <h1>Каталог</h1>

    <form action="post">
        <input type="text" class="form-control" name="title" id="title" placeholder="Название товара">
        <input type="number" class="form-control" name="price" id="price" placeholder="Цена товара">
        <button class="btn btn-success mt-3" type="submit">Добавить товар</button>
    </form>

    <div class="row mt-5">
        <!-- Cat -->
        <div class="services-card col-12 col-md-6 col-xl-3 mb-4">
            <a href="/services/dermatologiya/" class="with-backgr d-flex flex-column backgr-grey" style="background-image: url('/static/img/example/cat.jpg');">
                <h2>Для кошек</h2>
                <div class="card-sub-text align-self-start">48 товара</div>
            </a>
        </div>

        <!-- Dog -->
        <div class="services-card col-12 col-md-6 col-xl-3 mb-4">
            <a href="/services/infektsionnoe-otdelenie/" class="with-backgr d-flex flex-column" style="background-image: url('/static/img/example/dog.jpg');">
                <h2>Для собак</h2>
                <div class="card-sub-text align-self-start">24 Товара</div>
            </a>
        </div>

        <!-- Hameleon -->
        <div class="services-card col-12 col-md-6 col-xl-3 mb-4">
            <a href="/services/ortopediya/" class="with-backgr d-flex flex-column" style="background-image: url('/static/img/example/ham.jpg');">
                <h2>Для ящерец</h2>
                <div class="card-sub-text align-self-start">7 Товара</div>
            </a>
        </div>

        <!-- Mouse -->
        <div class="services-card col-12 col-md-6 col-xl-3 mb-4">
            <a href="/services/pulmonologiya/" class="with-backgr d-flex flex-column" style="background-image: url('/static/img/example/mouse.jpg');">
                <h2>Для грызунов</h2>
                <div class="card-sub-text align-self-start">3 Товара</div>
            </a>
        </div>


<!--       Птицы-->
        <div class="services-card col-12 col-md-6 col-xl-3 mb-4">
            <a href="/services/pulmonologiya/" class="with-backgr d-flex flex-column" style="background-image: url('/static/img/example/birddd.jpg');">
                <h2>Для птиц</h2>
                <div class="card-sub-text align-self-start">23 Товара</div>
            </a>
        </div>
    </div>
</div>









</div>








<!--Beta-->























<!--</body>-->

{% endblock %}
